<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="maventest.policyapplication.infrastructure.repository.mapper.PolicyApplicationMapper">

    <select id="countPendingApplication" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM tb_policy
        WHERE INSURED_IDENTITY_CARD = #{insuredIdNo}
          AND PRODUCT_CODE = #{productCode}
          AND POLICY_STATUS = 'PENDING'
          <if test="applicationId != null and applicationId != ''">
              AND POLICY_NO != #{applicationId}
          </if>
    </select>

    <select id="findMaxPolicyNoByPrefix" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT MAX(POLICY_NO)
        FROM tb_policy
        WHERE POLICY_NO LIKE CONCAT(#{prefix}, '%')
    </select>

    <insert id="insertPolicyApplication"
        parameterType="maventest.policyapplication.domain.entity.PolicyApplicationEntity">
    INSERT INTO tb_policy (
        POLICY_NO,
        MEMBER_ID,
        LIST_NO,
        PRODUCT_CODE,
        POLICY_STATUS,
        INSURED_NAME,
        INSURED_IDENTITY_CARD,
        INSURED_GENDER,
        INSURED_BIRTHDAY,
        INSURED_AMOUNT,
        POLICY_MOBILE,
        PREMIUM_AMOUNT,
        AGENT_ID,
        RISK_LEVEL,
        EFFECT_DATE,
        EXPIRE_DATE,
        APPLY_TIME,
        UPDATE_USER
    ) VALUES (
        #{policyNo},
        #{memberId},
        #{listNo},
        #{productCode},
        #{policyStatus},
        #{insuredName},
        #{insuredIdentityCard},
        #{insuredGender},
        #{insuredBirthday},
        #{insuredAmount},
        #{policyMobile},
        #{premiumAmount},
        #{agentId},
        #{riskLevel},
        #{effectDate},
        #{expireDate},
        #{applyTime},
        #{updateUser}
    )
    </insert>

    <select id="selectByApplicationId"
            parameterType="java.lang.String"
            resultType="maventest.policyapplication.domain.entity.PolicyApplicationEntity">
        SELECT POLICY_NO          AS policyNo,
               MEMBER_ID          AS memberId,
               LIST_NO            AS listNo,
               PRODUCT_CODE       AS productCode,
               POLICY_STATUS      AS policyStatus,
               INSURED_NAME       AS insuredName,
               INSURED_IDENTITY_CARD AS insuredIdentityCard,
               INSURED_GENDER     AS insuredGender,
               INSURED_BIRTHDAY   AS insuredBirthday,
               INSURED_AMOUNT     AS insuredAmount,
               POLICY_MOBILE      AS policyMobile,
               PREMIUM_AMOUNT     AS premiumAmount,
               AGENT_ID           AS agentId,
               RISK_LEVEL         AS riskLevel,
               EFFECT_DATE        AS effectDate,
               EXPIRE_DATE        AS expireDate,
               APPLY_TIME         AS applyTime,
               CREATE_TIME        AS createTime,
               UPDATE_TIME        AS updateTime,
               UPDATE_USER        AS updateUser
        FROM tb_policy
        WHERE POLICY_NO = #{applicationId}
    </select>

    <update id="updatePendingApplication"
            parameterType="maventest.policyapplication.domain.entity.PolicyApplicationEntity">
        UPDATE tb_policy
        SET PRODUCT_CODE          = #{productCode},
            INSURED_NAME          = #{insuredName},
            INSURED_IDENTITY_CARD = #{insuredIdentityCard},
            INSURED_GENDER        = #{insuredGender},
            INSURED_BIRTHDAY      = #{insuredBirthday},
            INSURED_AMOUNT        = #{insuredAmount},
            POLICY_MOBILE         = #{policyMobile},
            PREMIUM_AMOUNT        = #{premiumAmount},
            UPDATE_TIME           = CURRENT_TIMESTAMP
        WHERE POLICY_NO = #{policyNo}
          AND POLICY_STATUS = 'PENDING'
    </update>

    <update id="updateApplicationReview"
            parameterType="maventest.policyapplication.domain.entity.PolicyApplicationEntity">
        UPDATE tb_policy
        SET POLICY_STATUS = #{policyStatus},
            UPDATE_TIME   = CURRENT_TIMESTAMP,
            UPDATE_USER   = #{updateUser}
        WHERE POLICY_NO = #{policyNo}
          AND POLICY_STATUS = 'PENDING'
    </update>

    <select id="countApplications" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM tb_policy pa
                 LEFT JOIN tb_cust_user cu ON pa.MEMBER_ID = cu.MEMBER_ID
        <where>
            <if test="applicationId != null and applicationId != ''">
                AND pa.POLICY_NO = #{applicationId}
            </if>
            <if test="applicantIdNo != null and applicantIdNo != ''">
                AND cu.IDENTITY_CARD = #{applicantIdNo}
            </if>
            <if test="insuredIdNo != null and insuredIdNo != ''">
                AND pa.INSURED_IDENTITY_CARD = #{insuredIdNo}
            </if>
            <if test="applicationStatus != null and applicationStatus != ''">
                AND pa.POLICY_STATUS = #{applicationStatus}
            </if>
            <if test="productCode != null and productCode != ''">
                AND pa.PRODUCT_CODE = #{productCode}
            </if>
            <if test="submissionStartTime != null">
                AND pa.APPLY_TIME <![CDATA[ >= ]]> #{submissionStartTime}
            </if>
            <if test="submissionEndTime != null">
                AND pa.APPLY_TIME <![CDATA[ <= ]]> #{submissionEndTime}
            </if>
        </where>
    </select>

    <select id="selectApplications" parameterType="map" resultType="map">
        SELECT pa.application_id      AS applicationId,
               pa.applicant_id_no    AS applicantIdNo,
               pa.applicant_name     AS applicantName,
               pa.applicant_gender   AS applicantGender,
               pa.applicant_birthdate AS applicantBirthdate,
               pa.insured_id_no      AS insuredIdNo,
               ip.insured_name       AS insuredName,
               ip.insured_gender     AS insuredGender,
               ip.insured_birthdate  AS insuredBirthdate,
               ip.contact_phone      AS contactPhone,
               pa.product_code       AS productCode,
               p.PRODUCT_NAME        AS productName,
               pa.application_status AS applicationStatus,
               pa.relationship_to_insured AS relationshipToInsured,
               pa.sum_insured        AS sumInsured,
               pa.annual_premium     AS annualPremium,
               pa.submission_time    AS submissionTime,
               pa.review_time        AS reviewTime,
               pa.reviewed_by        AS reviewedBy,
               pa.rejection_reason   AS rejectionReason,
               pa.created_by         AS createdBy
        FROM policy_application pa
                 INNER JOIN insured_person ip ON pa.application_id = ip.application_id
                 INNER JOIN tb_product p ON pa.product_code = p.PRODUCT_CODE
        <where>
            <if test="applicationId != null and applicationId != ''">
                AND pa.POLICY_NO = #{applicationId}
            </if>
            <if test="applicantIdNo != null and applicantIdNo != ''">
                AND cu.IDENTITY_CARD = #{applicantIdNo}
            </if>
            <if test="insuredIdNo != null and insuredIdNo != ''">
                AND pa.INSURED_IDENTITY_CARD = #{insuredIdNo}
            </if>
            <if test="applicationStatus != null and applicationStatus != ''">
                AND pa.POLICY_STATUS = #{applicationStatus}
            </if>
            <if test="productCode != null and productCode != ''">
                AND pa.PRODUCT_CODE = #{productCode}
            </if>
            <if test="submissionStartTime != null">
                AND pa.APPLY_TIME <![CDATA[ >= ]]> #{submissionStartTime}
            </if>
            <if test="submissionEndTime != null">
                AND pa.APPLY_TIME <![CDATA[ <= ]]> #{submissionEndTime}
            </if>
        </where>
        ORDER BY pa.APPLY_TIME
        <choose>
            <when test="sortDirection == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectIncompleteApplications" parameterType="map" resultType="map">
        SELECT pa.application_id      AS applicationId,
               pa.applicant_id_no    AS applicantIdNo,
               pa.applicant_name     AS applicantName,
               pa.applicant_gender   AS applicantGender,
               pa.applicant_birthdate AS applicantBirthdate,
               pa.insured_id_no      AS insuredIdNo,
               ip.insured_name       AS insuredName,
               ip.insured_gender     AS insuredGender,
               ip.insured_birthdate  AS insuredBirthdate,
               ip.contact_phone      AS contactPhone,
               pa.product_code       AS productCode,
               p.PRODUCT_NAME        AS productName,
               pa.application_status AS applicationStatus,
               pa.relationship_to_insured AS relationshipToInsured,
               pa.sum_insured        AS sumInsured,
               pa.annual_premium     AS annualPremium,
               pa.submission_time    AS submissionTime,
               pa.review_time        AS reviewTime,
               pa.reviewed_by        AS reviewedBy,
               pa.rejection_reason   AS rejectionReason,
               pa.created_by         AS createdBy
        FROM policy_application pa
                 INNER JOIN insured_person ip ON pa.application_id = ip.application_id
                 INNER JOIN tb_product p ON pa.product_code = p.PRODUCT_CODE
        WHERE pa.application_status IN
        <foreach item="status" collection="statusList" open="(" separator="," close=")">
            #{status}
        </foreach>
        ORDER BY pa.submission_time DESC
    </select>

</mapper>